<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="book"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Messages</ion-title>
  </ion-toolbar>


</ion-header>
<ion-content [fullscreen]="true">
  <ng-container>
    <ion-list>
        <ion-item button detail="false" style="margin-top:10px;margin-right:5px; "
        routerLink="/messages">
          <ion-avatar slot="start">
            <img src="../../assets/icon/gamer.png" />
          </ion-avatar>
          <ion-label>
            <h2>ddd</h2>
            <p>ddd</p>
          </ion-label>
          <ion-badge color="danger">1</ion-badge>
        </ion-item>

      <ion-item button detail="false" style="margin-top:10px;margin-right:5px; ">
        <ion-avatar slot="start">
          <img src="../../assets/icon/gamer.png" />
        </ion-avatar>
        <ion-label>
          <h2>ddd</h2>
          <p>ddd</p>
        </ion-label>
        <ion-badge color="danger">1</ion-badge>
      </ion-item>
      <ion-item button detail="false" style="margin-top:10px;margin-right:5px; ">
        <ion-avatar slot="start">
          <img src="../../assets/icon/gamer.png" />
        </ion-avatar>
        <ion-label>
          <h2>ddd</h2>
          <p>ddd</p>
        </ion-label>
        <ion-badge color="danger">1</ion-badge>
      </ion-item>
      <ion-item button detail="false" style="margin-top:10px;margin-right:5px; ">
        <ion-avatar slot="start">
          <img src="../../assets/icon/gamer.png" />
        </ion-avatar>
        <ion-label>
          <h2>ddd</h2>
          <p>ddd</p>
        </ion-label>
        <ion-badge color="danger">1</ion-badge>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>