<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-icon name="chatbubble"></ion-icon>
      contact
    </ion-tab-button>
    <ion-tab-button tab="courses">
      <ion-icon name="library"></ion-icon>
      courses
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      account
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
